@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dm-font:"DM Serif Display", serif;
  --akcent_color:hsl(157, 9%, 30%);
  --secont_akcent_color:hsl(210, 5%, 70%);
  --very_dark_violet:hsl(272, 24%, 74%);
  --header_background:rgb(15, 17, 43);
  --we_are_different_color:rgb(14, 13, 13) ;
  --aboutus__background:rgb(12, 15, 61);
  --footer__background:rgb(211, 207, 207);
}

body {
  font-family: "Karla";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.buttons {
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  text-transform: uppercase;
}
.buttons:hover {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

.title {
  font-size: 3rem;
  font-family: "DM Serif Display", serif;
  line-height: 3rem;
  letter-spacing: 3px;
  color: white;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.menu .container .menu__list {
  display: flex;
  list-style: none;
}

.menu__list_elements {
  display: flex;
  align-items: center;
  margin: 0 30px;
  color: var(--akcent_color);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
.menu__list_elements:last-child {
  border: 1px solid black;
  padding: 10px 20px;
}
.menu__list_elements:last-child:hover {
  background-color: black;
  color: var(--very_dark_violet);
  transition: 0.2s linear;
}
.menu__list_elements:hover {
  color: var(--secont_akcent_color);
}

.offer {
  position: relative;
  background-color: var(--header_background);
}

.offer__container {
  display: flex;
  padding: 150px 0;
  justify-content: space-between;
}
.offer__container .offer__title {
  width: 40%;
}
.offer__container .offer__title > * {
  margin-bottom: 40px;
}
.offer__container .offer__title::before {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  color: white;
  background-color: white;
  margin-bottom: 40px;
}
.offer__container .offer__content {
  color: #c4bebe;
  line-height: 25px;
}

.family__picture {
  position: absolute;
  left: 60%;
}

.weird1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.weird2 {
  position: absolute;
  bottom: -200px;
  left: 0px;
}

.about__us {
  padding-top: 308px;
}

.aboutus__icons {
  display: flex;
  gap: 60px;
}

.aboutus__title .title {
  color: var(--we_are_different_color);
  padding: 100px 0px;
  font-family: var(--dm-font);
}
.aboutus__title::before {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  background-color: var(--header_background);
}

.aboutus__icons__content > * {
  margin: 10px 0px;
}
.aboutus__icons__content .title__icon {
  font-family: var(--dm-font);
  font-weight: bold;
  font-size: 1.75rem;
}
.aboutus__icons__content .content__icons {
  font-family: "Karla";
  color: var(--secont_akcent_color);
}

.about__box {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  background-color: var(--aboutus__background);
  margin: 100px 0;
  overflow: hidden;
}

.weird3 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.footer {
  background-color: var(--footer__background);
  padding-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  position: relative;
  z-index: -1;
}

.insure__top {
  display: flex;
  justify-content: space-between;
}
.insure__top .insure_nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.insure__bottom {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 70px 0px;
}

.footer__navs {
  list-style: none;
}
.footer__navs .footer__navs__elements__title {
  margin-bottom: 35px;
  color: grey;
  text-transform: uppercase;
}
.footer__navs .footer__navs__elements {
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
}
.footer__navs .footer__navs__elements:hover {
  cursor: pointer;
  color: grey;
}

.weird4 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
/*# sourceMappingURL=main.css.map */
