*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
:root{
    --dm-font:'DM Serif Display', serif;
    --akcent_color:hsl(157, 9%, 30%);
    --secont_akcent_color:hsl(210, 5%, 70%);
    --very_dark_violet:hsl(272, 24%, 74%);
    --header_background:rgb(15, 17, 43);
    --we_are_different_color:rgb(14, 13, 13) ;
    --aboutus__background:rgb(12, 15, 61);
    --footer__background:rgb(211, 207, 207);

}
body{
    font-family:'Karla';
}
.container{
    margin:0 auto;
    max-width: 1440px;
}
.buttons{
    padding: 10px 20px;
    color:white;
    border: 2px solid white;
    background-color: transparent;
    text-transform: uppercase;
    &:hover{
        background-color: whitesmoke;
        color: black;
        cursor: pointer;
    }
}
.title{
    font-size:3rem ;
    font-family: 'DM Serif Display', serif;
    line-height: 3rem;
    letter-spacing: 3px;
    color: white;

   
    
}
@mixin line() {
    content: "";
    display: block;
    height: 1px;
    width: 150px;

}


